extends layout

block content
  h1= title

  div.message-container
    if message_list.length 
      each message in message_list 
        div
          div.message-header
            if user
              if user.member_status === "Verified"
                h4.author-name #{message.author.fullname}
                div #{message.timestamp_formatted}
          div.message-card 
            h4.title #{message.title}
            p.message-text #{message.text}
            if user 
              if user.admin 
                form(method='POST' action=message.url + '?_method=DELETE')
                  input#messageid.form-control(type='hidden', name='messageid', value=message._id )
                  button.btn.btn-primary(type='submit') Delete message

    else 
      p There are no messages.

